*~
.vagrant
*.pyc
*.swp
controller/AWS_DEV_CREDS.txt
controller/resources/distributions/*
controller/bin/flush
.classpath
.project
.settings
.DS_Store
*.idea
*.iml
*.tmp
bower_components
node_modules
vms/core/etcd_token
vms/data
nuxeo.io-template.json
target
